@page "/"
@using models;
@using blazorapp.Services;
@inject IAuthenticationService AuthenticationService;


<h1>Ingresar</h1>
<EditForm Model="loginModel" OnValidSubmit="HandleLoginAsync">
  <div>
    <label for="user">Usuario</label>
    <input type="text" id="user">
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" id="password">
  </div>
</EditForm>

@if (errorMessage is not null)
{
  <p class="error">@errorMessage</p>
}

@code
{
  private LoginModel? loginModel { get; set; }
  private string? errorMessage;
  private DateTime? expiration;


  protected override void OnInitialized()
  {
    loginModel = new LoginModel();
    base.OnInitialized();
  }

  private async Task HandleLoginAsync()
  {
    try
    {
      expiration = await AuthenticationService.LoginAsync(loginModel);

      errorMessage = null;
    }
    catch (Exception ex)
    {
      expiration = null;

      errorMessage = ex.Message;
    }
  }
}
