@using blazorapp.Authentication;
@inject AuthenticationStateProvider _authProvider

@inherits LayoutComponentBase

<PageTitle>blazorapp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (authState is not null && authState.User.Identity.IsAuthenticated)
            {
                <button @onclick="LogOut">Log out</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState{ get; set; }
    private AuthenticationState authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await authenticationState;
    }

    private async Task LogOut()
    {
        var customProvider = _authProvider as CustomAuthenticationStateProvider;
        customProvider.UpdateAuthenticationState(null);
        StateHasChanged();
    }
}